<h1>Welcome to the admins home page</h1>


<p><%= link_to 'Add New Partner', new_partner_path, class: 'button' %></p>
<% @partners.each do |partner| %>

  <h3>
    <%= partner.name %>
  </h3>
  <h5>
    <%= partner.title %>
  </h5>

  <h5>
    <%= link_to 'Delete', { :controller => 'partners', :action => 'destroy', :id => partner.id },
      { data: {:confirm => 'Are you sure you want to delete this partner?'}, :method => :delete, :remote => true} %>
  </h5>
  <h5>
    <%= link_to 'Edit Partner', edit_partner_path(partner), class: 'button' %>
  </h5>

<% end %>

<br><br>

<% @companies.each do |company| %>

  <h5>
    <%= company.name %>
  </h5>

<% end %>
