<h5>
  <%= @partner.name %>
  <%= @partner.title %>
  <%= @partner.twitter %>
  <%= @partner.linkedin %>
  <%= @partner.subtitle %>
  <%= @partner.bio %>
  <%= @partner.home_image %>
  <%= @partner.bio_image %>
  <%= @partner.background_image %>
  <%= @partner.story_image %>
  <%= @partner.story_image_text %>
  <%= @partner.signature_image %>
</h5>
