<!DOCTYPE html>
<html>
  <head>
    <title>VentureApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrap">
      <% if flash[:error] %>
        <div class="container small-container">
          <div class="alert alert-danger">
            <%= flash[:error] %>
          </div>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="container small-container">
          <div class="alert alert-success">
            <%= flash[:success] %>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <footer>
      <% if current_admin %>
        <li><%= link_to "Log Out", logout_path %></li>
        <li><%= link_to "Admin Home", admin_path %></li>
      <% else %>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </footer>

  </body>
</html>
